@model List<ModelsInASPCore.Models.StudentModel>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <tr>
        <th>Roll No</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Class</th>
    </tr>

    @if (Model != null && Model.Any())
    {
        @foreach (var std in Model)
        {
            <tr>
                <td>@std.rollNo</td>
                <td>@std.Name</td>
                <td>@std.Gender</td>
                <td>@std.Standard</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4" class="text-center text-danger">No students found.</td>
        </tr>
    }
</table>
