@{
    ViewData["Title"] = "Home Page";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-5">
    <h1 class="display-4 fw-bold text-primary">Welcome to Our Website</h1>
    <p class="lead text-secondary">Discover our services and enjoy a seamless experience.</p>

    <a href="/about" class="btn btn-primary btn-lg mt-3">Learn More</a>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Feature 1</h5>
                    <p class="card-text">Description of the first feature that makes our website great.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Feature 2</h5>
                    <p class="card-text">Another great aspect of our service to explore.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Feature 3</h5>
                    <p class="card-text">Highlighting one more reason why we stand out.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @ViewData["data1"]
    <br />

    @ViewData["data2"]
    <br />

    @ViewData["data3"]
    <br />
</div>